!!! 5
html
  head
    title Ogre - ogr2ogr web client

  body
    .container
      img.ogre(src="ogre.svg")
      h1: a(href="/") Ogre
      p ogr2ogr web client
      br
      hr
      .row
        .span6
          form.form-horizontal(action="/convert", method="post", enctype="multipart/form-data")
            fieldset
              legend Convert to GeoJSON
              .control-group
                label.control-label(for='upload') File*:
                .controls
                  input#upload(type="file", name="upload")
                  p.help-block Must be a supported format
              .control-group
                label.control-label(for='callback') JSONP Callback: 
                .controls: input#callback(name="callback")
              .control-group
                label.control-label Force Plain Text: 
                .controls
                  input(type="checkbox", name="forcePlainText", value="true")
              .control-group
                .controls
                  button.btn.primary(name="convert") Convert
                  | 
                  button.btn.success(name="view") View In Browser

        .span6
          form.form-horizontal(action="/convertJson", method="post")
            fieldset
              legend Convert from GeoJSON
              .control-group
                label.control-label(for='json') GeoJSON:
                .controls: textarea#json.xlarge(name="json", rows=3)
                  | { "type": "FeatureCollection",
                  |   "features": [
                  |     { "type": "Feature",
                  |       "geometry": {"type": "Point", "coordinates": [102.0, 0.5]},
                  |       "properties": {"prop0": "value0"}
                  |       },
                  |     { "type": "Feature",
                  |       "geometry": {
                  |         "type": "LineString",
                  |         "coordinates": [
                  |           [102.0, 0.0], [103.0, 1.0], [104.0, 0.0], [105.0, 1.0]
                  |           ]
                  |         },
                  |       "properties": {
                  |         "prop0": "value0",
                  |         "prop1": 0.0
                  |         }
                  |       },
                  |     { "type": "Feature",
                  |        "geometry": {
                  |          "type": "Polygon",
                  |          "coordinates": [
                  |            [ [100.0, 0.0], [101.0, 0.0], [101.0, 1.0],
                  |              [100.0, 1.0], [100.0, 0.0] ]
                  |            ]
                  |        },
                  |        "properties": {
                  |          "prop0": "value0",
                  |          "prop1": {"this": "that"}
                  |          }
                  |        }
                  |      ]
                  |    }
              .control-group
                label.control-label(for='name') Output Name:
                .controls: input#(name="name")
              .control-group
                .controls
                  button.btn.primary(name="convert") Convert to Shapefile
                  p: small Shapefiles can only support one geometry type
      hr
      != body
